@charset "UTF-8";

/* Mobile Fist */



* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: #204473;
    position: relative;
}

#imagem { 
    background-image: url(../imagens/pexels-carlos-tran-17570742.jpg);
    width: 300px;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loguin {
    background-color: white;
    height: 300px;
    width: 300px;
    border-radius: 0px 0px 20px 20px;
}

#loguin h1 {
    margin: 5px;
    text-align: center;
}

#loguin p {
    margin-bottom: 5px;
}

#cemail {
    display: flex;
}

#csenha {
    display: flex;
}

#cemail label {
    background-color: #204473;
    margin-left: 30px;
    display: block;
    border-radius: 10px 0px 0px 10px;
    margin-bottom: 3px;
}

#cemail input {
    height: 30px;
    width: 200px;
    border: 2px solid  #204473;
    border-radius: 0px 10px 10px 0px;
    margin-bottom: 3px;
}

#csenha label {
    background-color: #204473;
    display: block;
    margin-left: 30px;
    border-radius: 10px 0px 0px 10px;
    margin-bottom: 3px;
}

#csenha input {
    height: 30px;
    width: 200px;
    border: 2px solid  #204473;
    border-radius: 0px 10px 10px 0px;
    margin-bottom: 3px;
}

#entrar input {
    margin-bottom: 3px;
    border-radius: 5px;
    margin-left: 30px;
    height: 30px;
    width: 228px;
    color: white;
    background-color: rgb(79, 172, 139);
}

#recuperar input {
    border-radius: 5px;
    margin-left: 30px;
    height: 30px;
    width: 228px;
    color: black;
    background-color: rgb(255, 255, 255);
}

#entrar input:hover {
    background-color: rgb(180, 221, 207);
}

#recuperar input:hover {
    background-color: rgb(175, 175, 175);
}
